.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

.vs/*

# Local History for Visual Studio Code
.history/
src/mercuryiot.web/appsettings.Development.json
src/mercuryiot.web/Properties/launchSettings.json
src/mercuryiot.web/bin/*
src/mercuryiot.web/obj/*
src/simulations/*
test/mercuryiot.test.web/bin/*
test/mercuryiot.test.web/obj/*

src/mercuryiot.functionapp/.vs/*
src/mercuryiot.functionapp/bin/*
src/mercuryiot.functionapp/obj/*
