.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

.vs/*

# Local History for Visual Studio Code
.history/
src/mercuryiot.web/appsettings.Development.json
src/mercuryiot.web/Properties/launchSettings.json
src/simulations/*

src/mercuryiot.functionapp/.vs/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
/src/mercuryiot.functionapp/Properties/PublishProfiles
